@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

header{
    text-align: center;
}

main{
display: grid;
padding: 20px;
margin: 30px;
column-gap: 40px;
}

@media only screen and (min-width: 550px) {
  main {
    grid-template-columns: 1fr;
}
}
@media only screen and (min-width: 700px) {
  main {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen and (min-width: 992px) {
  main {
  grid-template-columns: 1fr 1fr 1fr;
}
}
footer{
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    text-align: center;
}
image{
    align-items: left;
}

h2{
  background: green;
  font-family: 'Oswald', sans-serif;
  float: left;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  width: 100%;  
  }
  