header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color:  #69F7BE;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;  
}

footer{
  background-color: #69F7BE;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}

.portrait{
  grid-column: 1/2;
}
.name{
  grid-column: 2/3;
}

#content {
  max-width: 800px;
  margin: 0 auto;
}