header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background: #69F7BE;  
}

footer{
  background: #69F7BE
}

.portrait{
  grid-column: 1/2;
}
.name{
  grid-column: 2/3;
}

#content {
  max-width: 800px;
  margin: 0 auto;
}