header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color:  #69F7BE;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    font-family: HK Grotesk;  
}

footer{
  background-color: #69F7BE;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  align-items: center;
  font-family: HK Grotesk;
}

.portrait{
  grid-column: 1/2;
}
.name{
  grid-column: 2/3;
}

#content {
  max-width: 800px;
  margin: 0 auto;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}