/* Small/Phone View ***************/

header{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #33990F;
  box-shadow: 5px 5px 5px #999;
}

img.top_photo{
    width:120px; /* you can use % */
    height: 120px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.day{
  background-color: #998E0F ;
  align-self: center;
  width: 100%;
  height: 25px;
  text-align: center;
  align-items: center;
}

nav {
	margin: 0 auto;
	max-width: 760px;
}

.hero{
  position:relative;
  background-image: url("https://cdn.glitch.global/0d6e91e0-4221-4d75-9430-94d0566248f4/rsz_jemez-mountains%20(1).jpg?v=1644122648647");
}

.jous {
  list-style: none;
	padding: 0;
  display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
  background-color:#998E0F;
  position: absolute;
  bottom: 20px; 
  right: 20px;
}
.jous:hover {
	color: white;
	background-color: black;
}

.jous2{
  list-style: none;
	padding: 0;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
  background-color:#998E0F;
  width: 90%;
}

.jous2:hover {
  color: white;
	background-color: black;
}

.news{
 overflow: hidden;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li {
	display: none;
}

.responsive li {
	display: block;
}

.navigation li:first-child {
	display: block;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	color: white;
	background-color: black;
}

section {
  border-style: solid;
  margin: 20px;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: #33990F;
}

.highlight_1{
  width: 300px;
  height: 50%;
}

main{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #998E0F;
  margin: 10px;
  box-shadow: 5px 5px 5px #999;
}

footer{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #45E60B;
  text-align: center;
  box-shadow: 5px 5px 5px #999;
  align-items: center;
  
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

h1,h2{
  font-family: 'PT Serif', serif;
}

h1{
  color: #EBD912;
}

p,li{
  font-family: sans-serif, Serif;
}

li{
  color:black;
}

nav ul {
    background-color: #998E0F;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/

[class*="subsection"]{
  border-style: solid;
  margin: 10px;
  width: auto;
  height: 27%;
}

.subsection3{
  display: none;
}

.join{
  display: none;
}

button{
  border-radius: 6px;
}

.banner{
  width:100%;
  background-color: #998E0F;
  text-align: center;
}