/* Media Query for medium+ views */
@media only screen and (min-width: 60.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
  

}

@media only screen and (min-width: 40.5em) {
  section {
  border-style: solid;
  margin: 20px;
  width: 700px;
  height: 300px;
    }
  .join {
  width: 317px;
  height: 300px;
  display: initial;
  }
  .weather {
  width: 317px;
  height: 300px;
  }
  .subsection3{
    display: none;
  }
  
  .highlight_1{
  width: 50%;
  height: 50%;
  display: flex;
}
}