.hide{
  display: none;
}

#content {
width: 100%;
margin: 0 auto;
}

.cards {
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
}

.cards section {
border: 1px solid navy;
background-color: lightblue;
padding: 30px;
text-align: center;
width: 275px;
height: 500px;
margin: 20px;
}

h2, h1 {
color: navy;
text-align: center;
}

.cards img {
max-width:100%;
max-height:100%;
box-shadow: 5px 10px 8px 5px #888888;
}

div {
  box-shadow: 5px 10px 8px 5px #888888;
}

@media only screen and (max-width: 89.5em) {
  .cards{
    display: none;
    grid-template-columns: 1fr 1fr;
  }
  .list{
    display: block;
  }
}

@media only screen and (max-width: 90.5em) {
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .list{
    display: block;
  }
}

@media only screen and (max-width: 40.5em) {
  .cards{
    display: flex;
  }
  
}