header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E8F9FE;
    box-shadow: 5px 5px 5px #999;
    font-family: arial, helvetica, sans-serif;
  }
  
  main{
    background-color: #B7EDFB
  }
  
  .navigation li{
    display: inline;
  }